.images{
    height: 80%;
    width: 80%;
}

#Tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    margin:20px;
    height: 80vh;
}

.Columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#Titulos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    content-align: center;
}