.images{
    height: 100%;
    width: 100%;
}

#Images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin:20px;
    height: 80vh;
}

@media (max-width: 800px){
    #Images{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px){
    #Images{
        grid-template-columns: repeat(2, 1fr);
    }
}