.UserLoginModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1534289692684-c02577d5560d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  z-index: 1050;
  border-radius: 0px;
  border-color: transparent;
}

.UserLoginModalHeader {
  color: rgb(78, 78, 78);
  font-size: 1.5rem;
  padding-bottom: 0px !important;
}

.UserLoginModal .modal-content {
  border-radius: 0 !important;
  border-color: transparent !important;
}

.UserLoginModalBody {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.UserLoginModalFooter {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
  text-align: left;
}
